@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>MVC Video Rental Store</p>
    <br />
    <img src="https://th.bing.com/th/id/OIP.naUcUHDN1-3BRS8hzYN3EAHaEI?w=327&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Movie Reels Image" />
</div>
